.experience {
    margin-top: 100px;
    min-height: 547px;
    background: url(../../img/experience/bg.png) center (center/cover) no-repeat;
    padding-top: 211px;
    &__title {
        color: #FFFFFF;

    }
    &__subtitle {
        margin-top: 15px;
        color: #FFFFFF;
        
    }
}